@import 'tailwindcss';

@layer base {
	html,
	body,
	#root {
		height: 100%;
	}
}

@theme {
	--color-cf-dark: #f6821e;
	--color-cf-light: #fcad41;
}

* {
	@apply border-zinc-300 dark:border-zinc-700;
}

html,
body {
	@apply bg-white dark:bg-gray-950 dark:text-white;

	@media (prefers-color-scheme: dark) {
		color-scheme: dark;
	}
}
