@import 'tailwindcss';

@layer base {
	html,
	body,
	#root {
		height: 100%;
	}

	:root {
		border-color: theme(colors.zinc.300);
	}
}

@theme {
	--color-cf-dark: #F6821E;
	--color-cf-light: #FCAD41;
}
